/* Footer styles */
.footer {
  display: flex; /* Make the footer a flex container */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #d9874c;
  flex-direction: column;
  color: #fff;
  text-align: center;
  margin-top: auto; /* This will push the footer to the bottom if there's extra space */
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.footer-nav-links,
.social-media-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-nav-links a,
.footer-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footer-nav-links a:hover,
.footer-link:hover {
  color: #1abc9c;
}

.social-media-links img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
}

.social-media-links img:hover {
  opacity: 0.7;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}
